
  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@100&display=swap');

:root{
    --black:#000000;
    --white:#ffffff;
    --gray:#333333;
}
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0%;
    font-family: 'Barlow','Open Sans';
}
body{
   
    color: black;
    background:linear-gradient(yellow,50%,rgb(22, 22, 185));
   
}
.container{
    padding:1rem;
}
.f-1{
    margin-top: 3rem;
}
input{
    font-size: 120%;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;


}
input[type=submit]:hover{
    background-color: orange;
    color: var(--white);
    border-color: var(--gray);
}
.emoji{
    font-size:100%;
    width: 8rem;
    max-width: 8rem;
}
.emoji:hover{
    border-radius: 50%;
    /* border: 1px solid black; */
    font-size: 300%;
  
}

.desc{
    font-size: 100%;
    color: red;
}
.desc::first-letter{
    text-transform: uppercase;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.aliases{
    text-transform: uppercase;
    font-size: 150%;
    color:aqua;

}
tr,td{
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}